# hydrolog config file 
# tokens created https://plot.ly/settings/api

plotly = dict(
	username	= "",
	password	= "",
	tokenPH         = "", 
	# tokenPHRaw      = "",
	tokenTempWater  = "",
	tokenTempAir    = "",
	tokenHumidity   = ""
	)

